<article class="column">
  <h2><%= @article.title %></h2>
  <p><%= raw(@article.description) %></p>
  <hr/>
  <p>
    Sourced from <%= @article.feed.title %>. View the original story
    <%= link("here", to: @article.url, target: :_blank) %>.
  </p>
</article>
