/* This file is for your main application css. */

@import "./bootstrap.min.css";

.cursorPointer {
  cursor: pointer;
}

.brandBackgroundColor {
  background-color: #374d3d !important;
  color: white !important;
}

.brandTextColor {
  color: #374d3d !important;
}
