<article class="column">
  <h2>Articles</h2>
  <ul>
    <%= for article <- @latest_articles do %>
      <li>
        <%= link(article.title, to: Routes.article_path(@conn, :show, article)) %>
         - <%= article.source %>
      </li>
    <% end %>
  </ul>
</article>
