<article class="column">
  <h2>Articles</h2>
  <ul>
    <%= for article <- @latest_articles do %>
      <li>
        <%= link(article.title, to: Routes.article_path(@conn, :show, article)) %>
        - <%= article.source %> @ <%= Timex.format!(article.published_date, "{M}/{D} - {h12}:{0m}{am}") %>
      </li>
    <% end %>
  </ul>
</article>
